In [222]:
import numpy as np
import pandas as pd

In [223]:
N = [50, 100, 150]
slot = [0.01, 0.02, 0.05]
data = []
for n in N:
    for s in slot:
        aux = pd.read_csv(f"../src/main/resources/output/fp/output_fp_N_{n}_slot_{s}.csv")
        aux = aux.rename(columns={'fp':f'fp_N_{n}_slot_{s}'})
        data.append(aux)
data

[                 t  fp_N_50_slot_0.01
 0         0.000000               0.00
 1         0.098081               0.00
 2         0.099779               0.00
 3         0.216178               0.00
 4         0.218439               0.00
 ...            ...                ...
 11436  1065.687803               0.54
 11437  1065.722071               0.54
 11438  1065.839732               0.54
 11439  1065.950404               0.54
 11440  1066.018727               0.54

 [11441 rows x 2 columns],
                t  fp_N_50_slot_0.02
 0       0.000000               0.00
 1       0.030008               0.00
 2       0.047421               0.00
 3       0.146536               0.00
 4       0.180032               0.00
 ...          ...                ...
 4826  450.760415               0.56
 4827  450.771746               0.56
 4828  450.885758               0.56
 4829  450.995719               0.56
 4830  451.087702               0.56

 [4831 rows x 2 columns],
              t  fp_N_50_slot_0.05
 0     0.000000               0.00
 1     0.038049               0.00
 2     0.239779               0.00
 3     0.363546               0.00
 4     0.426528               0.00
 ..         ...                ...
 992  92.661012               0.52
 993  92.839906               0.52
 994  92.854496               0.52
 995  93.016149               0.52
 996  93.029581               0.52

 [997 rows x 2 columns],
                 t  fp_N_100_slot_0.01
 0        0.000000                0.00
 1        0.018554                0.00
 2        0.039895                0.00
 3        0.066027                0.00
 4        0.066689                0.00
 ...           ...                 ...
 29995  899.105871                0.44
 29996  899.131540                0.44
 29997  899.160959                0.44
 29998  899.161617                0.44
 29999  899.184695                0.44

 [30000 rows x 2 columns],
                 t  fp_N_100_slot_0.02
 0        0.000000                0.00
 1        0.013595                0.00
 2        0.036941                0.00
 3        0.080913                0.00
 4        0.093611                0.00
 ...           ...                 ...
 19526  608.680223                0.44
 19527  608.686457                0.44
 19528  608.725244                0.44
 19529  608.735164                0.44
 19530  608.813281                0.44

 [19531 rows x 2 columns],
               t  fp_N_100_slot_0.05
 0      0.000000                0.00
 1      0.009327                0.00
 2      0.042178                0.00
 3      0.044939                0.00
 4      0.062114                0.00
 ...         ...                 ...
 2437  75.269816                0.46
 2438  75.290847                0.46
 2439  75.323736                0.46
 2440  75.454272                0.45
 2441  75.547795                0.45

 [2442 rows x 2 columns],
                 t  fp_N_150_slot_0.01
 0        0.000000                0.00
 1        0.016290                0.00
 2        0.030053                0.00
 3        0.039466                0.00
 4        0.043229                0.00
 ...           ...                 ...
 29995  390.574458                0.34
 29996  390.584464                0.34
 29997  390.587960                0.34
 29998  390.590675                0.34
 29999  390.592407                0.34

 [30000 rows x 2 columns],
                 t  fp_N_150_slot_0.02
 0        0.000000            0.000000
 1        0.007151            0.000000
 2        0.008734            0.000000
 3        0.010058            0.000000
 4        0.026237            0.000000
 ...           ...                 ...
 29995  459.474245            0.473333
 29996  459.517436            0.473333
 29997  459.560437            0.473333
 29998  459.564512            0.473333
 29999  459.572086            0.480000

 [30000 rows x 2 columns],
                 t  fp_N_150_slot_0.05
 0        0.000000                0.00
 1        0.005852                0.00
 2        0.015627                0.00
 3        0.020947                0.00
 4        0.029486                0.00
 ...           ...                 ...
 12800  201.804279                0.46
 12801  201.805166                0.46
 12802  201.806585                0.46
 12803  201.893410                0.46
 12804  201.901548                0.46

 [12805 rows x 2 columns]]

In [224]:
columns = ['t']
for n in N:
    for s in slot:
        columns.append(f'fp_N_{n}_slot_{s}')
columns

['t',
 'fp_N_50_slot_0.01',
 'fp_N_50_slot_0.02',
 'fp_N_50_slot_0.05',
 'fp_N_100_slot_0.01',
 'fp_N_100_slot_0.02',
 'fp_N_100_slot_0.05',
 'fp_N_150_slot_0.01',
 'fp_N_150_slot_0.02',
 'fp_N_150_slot_0.05']

In [225]:
final_data = pd.concat(data,axis=0, ignore_index=True)

In [226]:
final_data.set_index('t')

,fp_N_50_slot_0.01,fp_N_50_slot_0.02,fp_N_50_slot_0.05,fp_N_100_slot_0.01,fp_N_100_slot_0.02,fp_N_100_slot_0.05,fp_N_150_slot_0.01,fp_N_150_slot_0.02,fp_N_150_slot_0.05
t,,,,,,,,,
0.000000,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0.098081,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0.099779,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0.216178,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0.218439,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
201.804279,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.46
201.805166,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.46
201.806585,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.46
201.893410,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.46
201.901548,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.46

In [227]:
final_data = final_data.sort_values(by='t')

In [228]:
final_data = final_data.set_index('t').groupby(level=0,dropna=False).sum(min_count=1)

In [229]:
final_data

,fp_N_50_slot_0.01,fp_N_50_slot_0.02,fp_N_50_slot_0.05,fp_N_100_slot_0.01,fp_N_100_slot_0.02,fp_N_100_slot_0.05,fp_N_150_slot_0.01,fp_N_150_slot_0.02,fp_N_150_slot_0.05
t,,,,,,,,,
0.000000,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0.005852,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
0.007151,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
0.008734,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
0.009327,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
1065.687803,0.54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1065.722071,0.54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1065.839732,0.54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1065.950404,0.54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1066.018727,0.54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [230]:
final_data

,fp_N_50_slot_0.01,fp_N_50_slot_0.02,fp_N_50_slot_0.05,fp_N_100_slot_0.01,fp_N_100_slot_0.02,fp_N_100_slot_0.05,fp_N_150_slot_0.01,fp_N_150_slot_0.02,fp_N_150_slot_0.05
t,,,,,,,,,
0.000000,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0.005852,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
0.007151,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
0.008734,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
0.009327,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
1065.687803,0.54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1065.722071,0.54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1065.839732,0.54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1065.950404,0.54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1066.018727,0.54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [231]:
final_data

,fp_N_50_slot_0.01,fp_N_50_slot_0.02,fp_N_50_slot_0.05,fp_N_100_slot_0.01,fp_N_100_slot_0.02,fp_N_100_slot_0.05,fp_N_150_slot_0.01,fp_N_150_slot_0.02,fp_N_150_slot_0.05
t,,,,,,,,,
0.000000,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0.005852,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
0.007151,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
0.008734,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN
0.009327,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
1065.687803,0.54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1065.722071,0.54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1065.839732,0.54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1065.950404,0.54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1066.018727,0.54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [232]:
slot1 = [x for x in columns if x not in ['t','fp_N_150_slot_0.02','fp_N_50_slot_0.02','fp_N_100_slot_0.02']]
final_data_slot1 = final_data.drop(columns=slot1)
final_data_slot1

             fp_N_50_slot_0.02  fp_N_100_slot_0.02  fp_N_150_slot_0.02
t
0.000000                   0.0                 0.0                 0.0
0.005852                   NaN                 NaN                 NaN
0.007151                   NaN                 NaN                 0.0
0.008734                   NaN                 NaN                 0.0
0.009327                   NaN                 NaN                 NaN
...                        ...                 ...                 ...
1065.687803                NaN                 NaN                 NaN
1065.722071                NaN                 NaN                 NaN
1065.839732                NaN                 NaN                 NaN
1065.950404                NaN                 NaN                 NaN
1066.018727                NaN                 NaN                 NaN

[142039 rows x 3 columns]

In [233]:
final_data_slot1.columns

Index(['fp_N_50_slot_0.02', 'fp_N_100_slot_0.02', 'fp_N_150_slot_0.02'], dtype='object')

In [234]:
final_data_slot1 = final_data_slot1.dropna(axis=0, how='all')

In [235]:
final_data_slot1

            fp_N_50_slot_0.02  fp_N_100_slot_0.02  fp_N_150_slot_0.02
t
0.000000                  0.0                0.00                 0.0
0.007151                  NaN                 NaN                 0.0
0.008734                  NaN                 NaN                 0.0
0.010058                  NaN                 NaN                 0.0
0.013595                  NaN                0.00                 NaN
...                       ...                 ...                 ...
608.680223                NaN                0.44                 NaN
608.686457                NaN                0.44                 NaN
608.725244                NaN                0.44                 NaN
608.735164                NaN                0.44                 NaN
608.813281                NaN                0.44                 NaN

[54360 rows x 3 columns]

In [236]:
final_data_slot1 = final_data_slot1.replace(np.nan, '', regex=True)

In [237]:
final_data_slot1

           fp_N_50_slot_0.02 fp_N_100_slot_0.02 fp_N_150_slot_0.02
t
0.000000                 0.0                0.0                0.0
0.007151                                                       0.0
0.008734                                                       0.0
0.010058                                                       0.0
0.013595                                    0.0
...                      ...                ...                ...
608.680223                                 0.44
608.686457                                 0.44
608.725244                                 0.44
608.735164                                 0.44
608.813281                                 0.44

[54360 rows x 3 columns]

In [238]:
final_data_slot1.to_csv(f"resources/graphs/fpVStime_slot_0.02.csv")

In [239]:
n1 = [x for x in columns if x not in ['t','fp_N_100_slot_0.01','fp_N_100_slot_0.02','fp_N_100_slot_0.05']]
final_data_n1 = final_data.drop(columns=n1)
final_data_n1

             fp_N_100_slot_0.01  fp_N_100_slot_0.02  fp_N_100_slot_0.05
t
0.000000                    0.0                 0.0                 0.0
0.005852                    NaN                 NaN                 NaN
0.007151                    NaN                 NaN                 NaN
0.008734                    NaN                 NaN                 NaN
0.009327                    NaN                 NaN                 0.0
...                         ...                 ...                 ...
1065.687803                 NaN                 NaN                 NaN
1065.722071                 NaN                 NaN                 NaN
1065.839732                 NaN                 NaN                 NaN
1065.950404                 NaN                 NaN                 NaN
1066.018727                 NaN                 NaN                 NaN

[142039 rows x 3 columns]

In [240]:
final_data_n1 = final_data_n1.dropna(axis=0, how='all')

In [241]:
final_data_n1 = final_data_n1.replace(np.nan, '', regex=True)

In [242]:
final_data_n1.to_csv(f"resources/graphs/fpVStime_N_100.csv")